/*estilo da lista do nav*/
ul{
    list-style: none;
}

/*imagens no geral*/
img{
    width: 100%;
    height: auto;
    display: block;
}

/*body*/
body {
    font-family: "Segoe UI";
    margin: 0px;
    background-color: var(--branco-qndoi);
    overflow-x: hidden; /*proíbe o croll horizontal*/
}

html{
    animation: fadeIn 1s ease;
}

/*root*/
:root{
    --azul-padrao: rgb(1, 1, 196);
    --laranja-padrao: rgb(218, 66, 11);
    --branco-qndoi: rgb(236, 234, 234);
    --azul-pretao: rgb(1, 1, 32);
    font-size: 21px;
}

/*========================================================================================*/

/*header*/
/*alinhamento de itens do header*/
.cabeçalho{
    display: flex;
    gap: 55%;
    align-items: center;
    background-color: var(--azul-padrao);
    color: var(--branco-qndoi);
    font-weight: bold;
    font-size: 18px;
}

a{
    text-decoration: none;
}

/*==================================================================================*/
/*alinhamento da logo*/
.logo{
    display: flex;
    align-items: center;
}

.logo a{
    color: var(--branco-qndoi);
    font-weight: bold;
}

/*logo da empresa | img*/
.logo img{
    width: 80px;
    height: 50px;
}

/*cor específica da logo do senai*/
.logosenai{
    color: var(--laranja-padrao);
}

/*=================================================================================*/

/*alinhamento de itens do nav*/
.menu {
    align-items: center;
    justify-content: flex-end;
}

/*estilização dos links*/
.menu a{
    color: var(--branco-qndoi);
}

/*alinhamento de items */
.menu ul{
    display: flex;
    gap: 25px;
}

/*==========================================================================================*/

/*section bpresent*/
.photopresent{
    position: relative;
}

.photopresent img{
    position: relative;
    z-index: -1;
    width: 100%;
    display: block;
}

.textossobrepostos{
    position: absolute;
    z-index: 1;
    top: 0;
    text-align: left;
    padding: 10px 20px; /*y|x*/
}

.textossobrepostos h1{
    color: var(--branco-qndoi);
    text-shadow: 0px 2px 8px rgba(0,0,0,1);
    top: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    max-width: max-content;
}

.textossobrepostos article{
    font-weight: bold;
    font-size: 18px;
    color: var(--branco-qndoi);
    text-shadow: 0px 2px 8px rgba(0,0,0,0.9);
    max-width: 50%;
    transform: translateY(325%);
    background-size: cover;
    background-color: rgba(0,0,0,0.1);
    backdrop-filter: blur(3px);
}

/*botão pra descer para a história da empresa*/
.homedescer{
    border-radius: 5px;
    border-width: 1px;
    background-color: var();
    cursor: pointer;
    width: 5cm;
    height: 0.9cm;
}

/*=============================================================================================*/

/*história da empresa | section*/
#history{
    margin: 0px 30px;
    display: flex;
    align-items: center;
    gap: 40px
}

#history img{
    width: 35%;
    height: 35%;
    border-radius: 5px;
}

#history article{
    width: 50%;
}

/*==========================================================================================*/

/*serviços*/

/*IA + eu*/
/* Container pai */
#serviços > div { /*todas as div filhas diretas de #serviços*/
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 20px;
    max-width: 1200px;
    margin-right: 0; /*margem direita*/
    margin-left: auto; /*empurra pra direita*/
}

/* Lado do texto */
.texto {
    flex: 1;
}

.texto h1 {
    color: var(--azul-pretao);
    font-size: 2rem;
    margin-bottom: 20px;
}

.resumosservico {
    color: black;
    line-height: 1.6;
}

/* Lado do carrossel */
.carrossel {
    flex: 1;
    background-color: #f0f0f0;
    padding: 60px 20px;
    text-align: center;
    border-radius: 12px;
    min-height: 200px;
}

/*=======================================================================================*/

/*footer*/
/*background e alinhamento do footer*/
footer {
    background-color: var(--azul-padrao);
}

.info{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.info img{
    width: 20px;
    height: 20px;
}

.info > div{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    color: var(--branco-qndoi);
}